# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# Datasets
dataset/
data/
*.zip
*.rar

# Model weights
*.pt
*.pth
*.safetensors

# Results (binary)
results_vit/*.pt
results_swin/*.pt

# HF cache
huggingface/
hf_cache/
.cache/

# Jupyter
.ipynb_checkpoints/

# Logs
wandb/
logs/
