# Dataset besar
dataset/
data/
*.zip
*.tar.gz

# Model checkpoints & logs training
checkpoints/
runs/
wandb/
*.log

# Jupyter output
.ipynb_checkpoints/

# Virtual env
.venv/
venv/

# Python cache
__pycache__/
*.pyc
